<form action="" id="converter-form">
  <div class="flex flex-col items-center mb-4">
    <label for="input-value">Enter the length to convert</label>
    <input id="input-value" type="text" class="max-w-60 w-full px-2 py-1 border rounded-md" />
  </div>
  <div class="flex flex-col items-center mb-4">
    <label for="input-unit">Unit to convert from</label>
    <select id="input-unit" class="max-w-60 w-full px-2 py-1 border rounded-md">
      <option value="ounce">Ounce</option>
      <option value="pound">Pound</option>
      <option value="stone">Stone</option>
      <option value="us ton">US Ton (Short Ton)</option>
      <option value="miligram">Miligram</option>
      <option value="gram">Gram</option>
      <option value="kilogram">Kilogram</option>
      <option value="tonne">Kilometer</option>
    </select>
  </div>
  <div class="flex flex-col items-center mb-4">
    <label for="output-unit">Unit to convert to</label>
    <select id="output-unit" class="max-w-60 w-full px-2 py-1 border rounded-md">
      <option value="miligram">Miligram</option>
      <option value="gram">Gram</option>
      <option value="kilogram">Kilogram</option>
      <option value="tonne">Kilometer</option>
      <option value="ounce">Ounce</option>
      <option value="pound">Pound</option>
      <option value="stone">Stone</option>
      <option value="us ton">US Ton (Short Ton)</option>
    </select>
  </div>
  <button
    type="button"
    onclick="handleConversion()"
    class="px-4 py-1.5 text-black bg-slate-200 rounded-md hover:bg-slate-600 hover:text-white active:bg-slate-500">
    Convert
  </button>
</form>
